@use  "/css/scss/partials/colors";

$page-background-color:#e64448;
$white:#fff;
$darkgrey:#3c3a48;
$lightgrey:#e1e2df;
$yellow:#eab244;
$lightblue:#89c5c7;
$darkblue:#0b354b;

@mixin secion-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}

//SCSS code is working
body {
    width: 400px;
    margin: auto;
    background-color: $page-background-color;
  }
  
  header {
    background-color: $white;
    padding-left: 5px;
  }
  
  .logo {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .local {
    display: block;
    background-color:$page-background-color;
  @include secion-padding;

    h1 {
        color: $darkgrey;
      }
      p {
        color: $yellow;
      }
      
  }




  .bikes {
    background-color: #e1e2df;
    text-align: center;
  }
  
  .signup {
    display: block;
    background-color: $yellow;
    color: $darkblue;
    @include secion-padding;

    h1 {
        color: $darkgrey;
      }
      
      label {
        display: block;
        margin-bottom: 5px;
      }
      
      input {
        display: block;
        margin-bottom: 20px;
      }
  }
  
  
  .about {
    display: block;
    background-color: $yellow;
    @include secion-padding;

    h1 {
        color: $page-background-color;
      }
      
      p {
        color: $lightgrey;
      }
  }
  